<fieldset *ngIf="!this.szerviz.isUserLoggedIn()">
    <legend>Login</legend>

    <label>Username:</label>
    <input type="text" [(ngModel)]="user.email" />
    <label>Password:</label>
    <input type="passowrd" [(ngModel)]="user.password" />

    <button mat-raised-button color="primary" (click)="login()">Login</button>
</fieldset>


<fieldset *ngIf="this.szerviz.isUserLoggedIn()">
    <legend>Logout</legend>

    <button mat-raised-button color="primary" (click)="logout()">Logout</button>
</fieldset>