<div>
    <label for="nev">Név:</label>
    <input id="nev" type="text" [(ngModel)]="product.name" /><br/>
    
    <label for="price">Ár:</label>
    <input type="text" [(ngModel)]="product.price" /><br/>

    <label for="tax">Áfa:</label>
    <input type="text" [(ngModel)]="product.tax" /><br/>

    <label for="category_id">Kategória:</label>
    <select [(ngModel)]="product.category_id">
        <option *ngFor="let category of categories" 
            [value]="category.id" >{{category.name}}</option>
    </select>
    <br/>

    <label for="url">Kép url:</label>
    <input type="text" [(ngModel)]="product.url" /><br/>
    <img [src]="product.url" />
    <br/>


    <div mat-dialog-actions>
        <button mat-button mat-dialog-close>Mégse</button>
        <button mat-button [mat-dialog-close]="product" cdkFocusInitial>Mentés</button>
    </div>

</div>